{{ template "base" . }}
{{ define "title" }}Edit {{.Title}}{{ end }}
{{ define "content" }}
<div class="card">
  <header class="card-header">
	  <p class="card-header-title">Edit {{.Title}}</p>
  </header>
  <div class="card-content">
    <div class="content">
		<form action="/save/{{.Title}}" method="POST">
			<div class="field">
			  <label class="label">Title/Filename</label>
			  <div class="control">
				  <input name="title" class="input" type="text" value="{{.Title}}">
			  </div>
			</div>

			<div class="field">
			  <label class="label">Text</label>
			  <div class="control">
				<textarea name="body" class="textarea" placeholder="Page Text" rows="30">{{printf "%s" .Body}}</textarea>
			  </div>
			</div>

			<input type="submit" value="Save" class="button is-primary">
			<a href="/delete/{{.Title}}" class="button is-danger">Delete</a>
			<a href="/view/{{.Title}}" class="button is-warning">Cancel</a>
		</form>
    </div>
  </div>
</div> <!-- card -->
{{ end }}
