{{ template "base" . }}
{{ define "title" }}{{if .}} Create {{.}} {{else}} Create a new page {{end}}{{ end }}
{{ define "content" }}
<div class="card">
  <header class="card-header">
	  <p class="card-header-title">
		 <span class="icon">
			<span class="oi" data-glyph="plus"
				title="Create Page"></span>
		</span>
	  {{if .}} Create {{.}} {{else}} Create a new page {{end}}
	  </p>
  </header>
  <div class="card-content">
    <div class="content">
		<form action="/save/{{.}}" method="POST">
			<div class="field">
			  <label class="label">Title/Filename</label>
			  <div class="control">
				  <input name="title" class="input" type="text" placeholder="Title" value="{{.}}">
			  </div>
			</div>
			<div class="field">
			  <label class="label">Text</label>
			  <div class="control">
				<textarea name="body" class="textarea" placeholder="Page Text" rows="30"></textarea>
			  </div>
			</div>

			<input type="submit" value="Save" class="button is-primary">
			<a href="/view/FrontPage" class="button is-warning">Cancel</a>
		</form>
    </div>
  </div>
</div> <!-- card -->
{{ end }}
