{{ template "base" . }}
{{ define "title" }}All Pages{{ end }}
{{ define "content" }}
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
	 <span class="icon">
		<span class="oi" data-glyph="book"
			title="Create Page"></span>
	</span>
	All Pages
    </p>
  </header>

  <div class="card-content">
    <div class="content">
		<p>Here is a list of all pages in the wiki:</p>
		{{range .}}
		<li><a href="/view/{{.}}">{{ . }}</a></li>
		{{end}}
    </div>
  </div>
</div>
{{ end }}
