{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ template "title" . }}</title>
	<link href="/static/bulma.css" rel="stylesheet"/>
	<link href="/static/styles.css" rel="stylesheet"/>
</head>

<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
	<a class="navbar-item" href="/">
		<div class="subtitle">GoWiki</div>
    </a>
  </div>

  <div class="navbar-menu">
	  <div class="navbar-end">
	 <a class="navbar-item" href="/">
        Front Page
      </a>
	 <a class="navbar-item" href="/pages">
		 All Pages
      </a>
	  </div>
  </div>
</nav>

<div class="container note">
	{{ template "content" . }}
</div> <!-- container node -->

</body>
</html>
{{ end }}
